<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase}}</h1>
  <h1>{{ valor | number}}</h1>
  <h1>{{ obj | json}}</h1>
</div>

<button pButton
  (click)="mostrarNombre()" 
  label="Cambiar Nombre"
  icon="pi pi-check"
  iconPos="right"
  class="p-button-help">
</button>

<hr/>

<p-card [header]="nombre | titlecase"
  subheader="El subheader">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias minima similique totam alias sint incidunt aspernatur nemo, repudiandae pariatur eum sed dolore, earum maxime consectetur esse quae explicabo ipsa.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>